:host {
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    margin: 150px auto 0;

    h1 {
      align-self: center;
    }

    /deep/.mat-form-field{
      display: block;
    }

    button {
      width: 100%;
      font-weight: 600;
    }
  }
}
