<span>
  <button mat-button>
    <span>{{currentUser?.role | lowercase | titlecase}} cabinet</span>
  </button>
  <button mat-button>
    <span>{{currentUser?.role | lowercase | titlecase}} calendar</span>
  </button>
</span>


<!--<span *ngIf="currentUser.role === Roles.DENTIST || currentUser.role === Roles.NURSE; then dentistMenu"></span>-->
<!--<span *ngIf="currentUser.role === Roles.PATIENT; then patientMenu"></span>-->
<!--<span *ngIf="currentUser.role === Roles.ADMIN; then adminMenu"></span>-->
<!--<ng-template #patientMenu>-->
      <!--<span>-->
        <!--<mat-menu #menu="matMenu">-->
          <!--<button mat-menu-item>-->
            <!--<mat-icon>account_box</mat-icon>-->
            <!--<span>Patient cabinet</span>-->
          <!--</button>-->
          <!--<button mat-menu-item disabled>-->
            <!--<mat-icon>date_range</mat-icon>-->
            <!--<span>Patient calendar</span>-->
          <!--</button>-->
        <!--</mat-menu>-->
      <!--</span>-->
<!--</ng-template>-->

<!--<ng-template #adminMenu>-->
      <!--<span>-->
        <!--<mat-menu #menu="matMenu">-->
          <!--<button mat-menu-item>-->
            <!--<mat-icon>account_box</mat-icon>-->
            <!--<span>Patient cabinet</span>-->
          <!--</button>-->
          <!--<button mat-menu-item disabled>-->
            <!--<mat-icon>date_range</mat-icon>-->
            <!--<span>Patient calendar</span>-->
          <!--</button>-->
        <!--</mat-menu>-->
      <!--</span>-->
<!--</ng-template>-->
